body {
  background: url('/games/crush/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: contain;
  /* top: -180px; */
  background-position: bottom;
  background-color: #27accf;
}

#content {
  margin-top: 20px;
  display: flex;
  margin: auto;
  flex-direction: row;
	width: 1250px;
}

#board {
  margin-top: 60px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 584px;
  height: 584px;
  background-color: rgba(73, 189, 27, 0.504);
  padding: 6px;
  padding-bottom: 3px;
  padding-right: 3px;
  border-radius: 7px;
}

#board .square {
  padding: 2px;
  height: 65px;
  width: 65px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(244, 243, 243, 0.46);
  box-shadow: inset 0 0 6px #a1ae93;
}

#control-div {
	display: flex;
	flex-direction: column;
}

#button {
	background-image: url('/games/crush/images/button.png');
	height: 60px;
	width: 110px;
	cursor: pointer;
	background-size: 100%;
	margin-top: 375px;
	margin-left: 26px;
}

#info-div {
  width: 180px;
  margin-left: 30px;
  margin-top: 63px;
  vertical-align: middle;
  background-color: rgba(75, 137, 44, 0.46);
  box-shadow: inset 0 0 8px rgba(73, 189, 27, 0.2);
  border-radius: 7px;
  padding-left: 15px;
  padding-bottom: 20px;
}

#info-div p {
  font-family: Consolas;
	color: white;
}

.information-container {
	display: flex;
	flex-direction: row;
	height: 35px;
}

.information-container p {
	margin-left: 10px;
	color: white;
	font-size: larger;
}

#candies-div {
	margin-top: 15px;
	margin-left: 5px;
}

#candies-div p {
	margin-top: 10px;
}

#candies {
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	text-align: center;
	justify-content: center;
}

#score {
	display: flex;
	flex-direction: row;
}

#candy {
	height: 40px;
	width: 40px;
	background-image: url('/games/crush/images/avax.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#candies-p {
	background-image: url('/games/crush/images/avax.png');
}


